/* =================================
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  background: #f6f7f7;
  margin: 0;
}

h1 {
  font-size: 34px;
  font-weight: 600;
  color: #1b1b1b;
  margin: 5px 0px;
}

h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 0px;
}

h3 {
  text-align: left;
  font-size: 24px;
  color: #fff;
  margin-left: 20px;
  margin-top: 50px;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: #1b1b1b;
  margin: 5px 0px;
}

h5 {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 0px;
}

h6 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

p {
  margin: 10px 0px;
  font-size: 15px;
}

.btn-proceed {
  width: 120px;
  outline: none;
  display: flex;
  margin-left: auto;
  margin-top: 80px;
  height: 30px;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  background: linear-gradient(to bottom left, #1E5799, #124077);
  justify-content: center;
  font-size: 13px;
}

/* =================================
  Main Content
==================================== */
.main-content {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.display-content,
.input-content {
  height: -webkit-fill-available;
  display: inline-block;
}

/* =================================
   Display Content
==================================== */
.display-content {
  width: 40%;
  background: linear-gradient(0deg, rgba(30, 87, 153, 0.6), rgba(30, 87, 153, 0.6)), url("./cashbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.sec-1 {
  text-align: -webkit-center;
}

.sec-2 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.sec-mini-1,
.sec-mini-2 {
  text-align: -webkit-center;
}

.sec-mini-1 {
  margin-right: 50px;
}

.sec-mini-2 {
  margin-left: 50px;
}

/* =================================
  Input Content
==================================== */
.input-content {
  width: 60%;
  background-color: #fff;
}

.input-sec1,
.input-sec2 {
  padding: 10px 150px;
}

.input-mini-1 {
  display: flex;
  justify-content: space-between;
}

.input-sec {
  padding: 40px 50px;
  padding-bottom: 80px;
}

.highLight {
  color: #1E5799;
  font-weight: 550;
}
/* =================================
  Slider Styles
==================================== */

.rc-slider-track {
  background-color: #1E5799;
}

.rc-slider-handle {
  border: solid 2px #1E5799;
}

.rc-slider-handle:hover {
  border-color: #1E5799;
}

.rc-slider-handle:focus {
  border-color: #1E5799;
  box-shadow: 0 0 0 1px #1E5799;
}

.rc-slider-handle:active {
  border-color: #1E5799;
  box-shadow: 0 0 5px #1E5799;
}

/* =================================
  Media Styles
==================================== */
@media (max-width: 900px) {
  .main-content {
    display: grid;
  }

  .display-content,
  .input-content {
    display: block;
    width: 100%;
  }

  .display-content {
    height: fit-content;
  }

  .input-sec1,
  .input-sec2 {
    padding: 10px 50px;
  }

  .input-sec {
    padding-bottom: 30px;
  }

  .sec-2 {
    padding: 20px 0px;
  }
}
